{% extends 'super.html'%} {%block content%} {%if request.user.is_authenticated%}
<p>USER :{{request.user}}</p>
{%endif%}
<h2 class="section">My TODO List</h2>
<a class="btn-primary" href="{% url 'create_task'%}">Add Task</a>

<form class="search" method="GET" action="{% url 'searchposts' %}">
  <input
    class="search-form"
    type="text"
    name="q"
    placeholder="search for an item"
  />
  <input class="btn-primary" type="submit" value="search" name="submit" />
</form>

<div class="todo-list--container section">
  {% for task in page_obj%}
  <div class="single-task ">
    <a href="{%url 'details' task.id%}">
      <div>
        <h4 class="section {% if task.completed %} completed {%endif%}">{{task.name}}</h4>
        <a href="{%url 'update_task' task.id%}">Edit</a>
        <a href="{%url 'delete_task' task.id%}">delete</a>
      </div>
    </a>
  </div>
  {%endfor%} 
</div>
<!-- like a condition for template syntax if the for loop is empty execute whats below -->
<div class="pages_list">
  {%for i in pages_list%}
  <a href="?page={{i}}">{{i}}</a>
  {%endfor%}
</div>


{%endblock content%}
